body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Main layout */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Sidebar styling */
/* .sidebar {
  position: fixed;
  top: 56px;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #212529;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
} */

/* Sidebar */
.sidebar {
  position: fixed;
  top: 45px; /* Height of header */
  left: 0;
  width: 250px;
  height: calc(100vh - 56px);
  background-color:rgb(13, 110, 253);
  color: white;
  transition: all 0.6s ease;
  overflow-y: auto;
    z-index: 100; /* ensures it stays below header if needed */
}

.sidebar.open {
  left: 0;
}


.sidebar.closed {
  width: 0;
  overflow: hidden;
}

.table-responsive {
  background-color: white;
  border-radius: 6px;
  overflow-x: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Content area */
.content {
  flex: 1;
  margin-top: 56px; /* same height as header */
  margin-left: 0;
  padding: 20px;
  transition: all 0.3s ease;
}
.content.shift {
  margin-left: 250px;
}

/* Mobile behavior */
@media (max-width: 768px) {
  .content.shift {
    margin-left: 0;
  }
}
/* Table responsiveness */
.table-responsive {
  background-color: white;
  border-radius: 6px;
  overflow-x: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------*/

