html,
body,
#root {
  font-size: 0.9rem;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Optional: add subtle gradient background */
body {
  background: linear-gradient(135deg, #ffffff, #2381cd);
  line-height: 1.2;
}

/* Optional: make tables, buttons, and inputs slightly tighter */
table,
th,
td,
button,
input,
label,
select {
  font-size: 0.9rem !important;
}

.card,
.navbar,
.sidebar,
.header {
  font-size: 0.9rem;
}


.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}